 
  #content {
    color: rgb(63, 59, 59);
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    overflow-y: auto;
    height: 100%;
  }

  #content h2,h3,h4{
    color: rgb(63, 59, 59);
  }

 .li_item{
  margin-right: 10px;
 }

    .highlight {
      background-color: rgb(80, 150, 85);
    }

    table, th, td {
    Text-align: center;
             border: 1px solid black;
             border-collapse: collapse;
    }
 
  